In [23]:
from scipy.stats import kurtosis

In [99]:
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.metrics import accuracy_score

In [24]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [83]:
df1 = pd.read_csv("data0 (1).txt", header=None)
df2 = pd.read_csv("data109.txt", header=None)
df3 = pd.read_csv("data112.txt", header=None)
df4 = pd.read_csv("data88.txt", header=None)
df5 = pd.read_csv("data89.txt", header=None)
df6 = pd.read_csv("data9.txt", header=None)

In [84]:
df = pd.concat([df1, df2, df3, df4, df5, df6])

In [85]:
df

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,128,0,248,248,128,0,0,NaN
0,0,0,0,0,128,0,0,0,248,0,...,0,0,0,0,0,0,0,0,0,NaN
0,120,0,0,120,0,0,0,120,0,0,...,0,0,128,0,0,248,0,0,0,NaN
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,120,0,0,NaN
0,0,128,248,0,0,128,0,0,128,248,...,0,248,120,128,0,248,128,0,248,NaN

In [70]:
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 10001 columns]

In [29]:

from scipy.fftpack import fft

In [86]:
df = df.iloc[:, :-1]

In [87]:
data = df.to_numpy()

In [92]:
X_train = np.nan_to_num(X_train)
X_test = np.nan_to_num(X_test)
y_train = np.nan_to_num(y_train)
y_test = np.nan_to_num(y_test)

In [88]:
# Compute the amplitude and phase for each FFT output
amplitude = np.abs(fft_data)
phase = np.angle(fft_data)

# Extract additional features from the data such as RMS, P-P, crest factor, kurtosis, skewness
rms = np.sqrt(np.mean(data ** 2, axis=0))
peak_to_peak = np.ptp(data, axis=0)
crest_factor = peak_to_peak / rms
kurtosis = stats.kurtosis(data, axis=0, fisher=False)
skewness = stats.skew(data, axis=0)

C:\Users\avira\AppData\Local\Temp\ipykernel_11964\1152519161.py:8: RuntimeWarning: invalid value encountered in true_divide
  crest_factor = peak_to_peak / rms

In [89]:
# Combine features into a single array
X = np.column_stack((amplitude, phase, rms, peak_to_peak, crest_factor, kurtosis, skewness))

In [80]:
print(amplitude.shape)
print(phase.shape)
print(rms.shape)
print(peak_to_peak.shape)
print(crest_factor.shape)
print(kurtosis.shape)
print(skewness.shape)

(10000, 6)
(10000, 6)
(10000,)
(10000,)
(10000,)
(10000,)
(10000,)

In [90]:
# Labels (1 for normal data, 0 for anomalous data)
y = np.zeros(X.shape[0])
y[:int(X.shape[0]*0.8)] = 1

In [91]:
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [93]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [95]:
y_pred = clf.predict(X_test)

In [96]:
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

In [97]:
conf_matrix = confusion_matrix(y_test, y_pred)
acc_score = accuracy_score(y_test, y_pred)
print("Confusion Matrix: \n", conf_matrix)
print("Accuracy Score: ", acc_score)

Confusion Matrix:
 [[   2  404]
 [   4 1590]]
Accuracy Score:  0.796

In [98]:
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.metrics import accuracy_score
iso_forest = IsolationForest(contamination=0.1)
iso_forest.fit(X_train)
y_pred_iso = iso_forest.predict(X_test)
accuracy_iso = accuracy_score(y_test, y_pred_iso)
print("Accuracy of Isolation Forest:", accuracy_iso)
one_class_svm = OneClassSVM(nu=0.1)
one_class_svm.fit(X_train)
y_pred_svm = one_class_svm.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print("Accuracy of OneClassSVM:", accuracy_svm)

Accuracy of Isolation Forest: 0.7185
Accuracy of OneClassSVM: 0.7225